body
{
background-image:url("A:/cgs/ss.jpg");
background-repeat:no-repeat;
background-size:cover;
}
.nav  {
color: white;
padding:20px;
font-size:150%;
}
.nav ul a{
border:1px solid white;
padding:10px;
margin:100px;
text-decoration:none;
background-color:white;
}
.nav ul a.active
{
background-color:yellow;
}
.login {
padding:10px;
font-size:120%;
color:white;

}
.signup {
color:white;
padding:80px;
font-size:120%;
}
.help {
color:white;
padding:10px;
font-size:120%;
}
.front {
color: white;
padding:5px;
font-size:120%;
}
h1
{
color:blue;;
}
